
.DS_Store

.env

__pycache__

credentials.json

data/*.csv

data/tweet_collection_v2/*/*.csv

data/graphs/archived/*/*.json
data/graphs/archived/*/*.csv
data/graphs/archived/*/*.gpickle
data/graphs/archived/*/*/*.csv
data/graphs/archived/*/*/*.png

data/graphs/*/*.json
data/graphs/*/*.csv
data/graphs/*/*.gpickle

data/graphs/weekly/*/*.json
data/graphs/weekly/*/*.csv
data/graphs/weekly/*/*.gpickle
data/graphs/weekly/*/*/*.csv
data/graphs/weekly/*/*/*.png

data/ks_test/*.csv

workbooks/*.twbx
workbooks/*.twbr
workbooks/*.csv
workbooks/*.png
workbooks/*/*.twbx
workbooks/*/*.twbr
workbooks/*/*.csv
workbooks/*/*.png
