python-dotenv # a.k.a. dotenv, for reading environment vars from the ".env" file

tweepy
#twint # for unoficially interfacing with twitter data
beautifulsoup4 # for scraping mobile Twitter site

google-cloud-bigquery # for interfacing with the BigQuery API
google-cloud-storage # for interfacing with Google Cloud Storage

sendgrid==6.0.5
# mpi4py # errors installing on heroku?

# psycopg2 (OPTIONAL)
sqlalchemy

pandas
networkx
numpy
scipy
scikit-learn
nltk
spacy
gensim
#basilica
#transformers
detoxify

matplotlib
plotly
kaleido # required by plotly to save static images
squarify
#pyldavis

Flask
gunicorn
flask-cors

# formerly known as dev dependencies:
pytest
memory_profiler

# dev dependencies:
autopep8
