{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <h1>Impeachment Tweet Analysis</h1>

    <p>This is a description.</p>

    <ul>
        <li>First list item</li>
        <li>Second list item</li>
        <li>Third list item</li>
    </ul>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}
