{% extends "bootstrap_layout.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prototype_politico.css') }}">
{% endblock %}
{% block content %}

    <header class="row">
        <span class="col-md-8">
            <h1 style="display:inline-block;">@POLITICO</h1>

            <a style="display:inline-block;" href="https://twitter.com/politico">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M5.172 10.828a.5.5 0 0 0 .707 0l4.096-4.096V9.5a.5.5 0 1 0 1 0V5.525a.5.5 0 0 0-.5-.5H6.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                </svg>
            </a>
        </span>

        <span class="col-md-4">
            <!--p class="lead text-right" style="margin-bottom:0; padding-top:1rem">Mean Opinion Score: <code>XX.YY%</code></p-->
            <div id="opinion-meter"></div>
        </span>

    </header>

    <p class="lead">Mean Opinion Score: <code>XX.YY%</code></p>

    <!-- see: https://getbootstrap.com/docs/4.0/content/tables/ -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Status Text</th>
                    <th scope="col">Opinion Score</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td style="white-space: nowrap;">2020-01-01</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                        <a href="https://twitter.com/politico/status/1305159530360209410">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M5.172 10.828a.5.5 0 0 0 .707 0l4.096-4.096V9.5a.5.5 0 1 0 1 0V5.525a.5.5 0 0 0-.5-.5H6.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                              </svg>
                        </a>

                    </td>
                    <td><code>0</code></td>
                </tr>

                <tr>
                    <td style="white-space: nowrap;">2020-01-01</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                        <a href="https://twitter.com/politico/status/1305159530360209410">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M5.172 10.828a.5.5 0 0 0 .707 0l4.096-4.096V9.5a.5.5 0 1 0 1 0V5.525a.5.5 0 0 0-.5-.5H6.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                              </svg>
                        </a>

                    </td>
                    <td><code>0</code></td>
                </tr>

                <tr>
                    <td style="white-space: nowrap;">2020-01-01</td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                        <a href="https://twitter.com/politico/status/1305159530360209410">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M5.172 10.828a.5.5 0 0 0 .707 0l4.096-4.096V9.5a.5.5 0 1 0 1 0V5.525a.5.5 0 0 0-.5-.5H6.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
                              </svg>
                        </a>

                    </td>
                    <td><code>0</code></td>
                </tr>

            </tbody>
        </table>
    </div>


    <div class="chart-gauge"></div>

{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='prototype_politico.js') }}"></script>
    <script type="text/javascript">
    // source: https://gist.github.com/ameyms/9184728


    //console.log("LOADING JS...")
//
    //var needle;
//
    //(function(){
//
    //var barWidth, chart, chartInset, degToRad, repaintGauge,
    //    height, margin, numSections, padRad, percToDeg, percToRad,
    //    percent, radius, sectionIndx, svg, totalPercent, width;
//
    //percent = .65;
    //numSections = 1;
    //sectionPerc = 1 / numSections / 2;
    //padRad = 0.025;
    //chartInset = 10;
//
    //// Orientation of gauge:
    //totalPercent = .75;
//
    //el = d3.select('.chart-gauge');
//
    //margin = {
    //    top: 20,
    //    right: 20,
    //    bottom: 30,
    //    left: 20
    //};
//
    //width = el[0][0].offsetWidth - margin.left - margin.right;
    //height = width;
    //radius = Math.min(width, height) / 2;
    //barWidth = 40 * width / 300;
//
//
    ///*
    //    Utility methods
    //*/
    //percToDeg = function(perc) {
    //    return perc * 360;
    //};
//
    //percToRad = function(perc) {
    //    return degToRad(percToDeg(perc));
    //};
//
    //degToRad = function(deg) {
    //    return deg * Math.PI / 180;
    //};
//
    //// Create SVG element
    //svg = el.append('svg').attr('width', width + margin.left + margin.right).attr('height', height + margin.top + margin.bottom);
//
    //// Add layer for the panel
    //chart = svg.append('g').attr('transform', "translate(" + ((width + margin.left) / 2) + ", " + ((height + margin.top) / 2) + ")");
    //chart.append('path').attr('class', "arc chart-filled");
    //chart.append('path').attr('class', "arc chart-empty");
//
    //arc2 = d3.svg.arc().outerRadius(radius - chartInset).innerRadius(radius - chartInset - barWidth)
    //arc1 = d3.svg.arc().outerRadius(radius - chartInset).innerRadius(radius - chartInset - barWidth)
//
    //repaintGauge = function (perc)
    //{
    //    var next_start = totalPercent;
    //    arcStartRad = percToRad(next_start);
    //    arcEndRad = arcStartRad + percToRad(perc / 2);
    //    next_start += perc / 2;
//
//
    //    arc1.startAngle(arcStartRad).endAngle(arcEndRad);
//
    //    arcStartRad = percToRad(next_start);
    //    arcEndRad = arcStartRad + percToRad((1 - perc) / 2);
//
    //    arc2.startAngle(arcStartRad + padRad).endAngle(arcEndRad);
//
//
    //    chart.select(".chart-filled").attr('d', arc1);
    //    chart.select(".chart-empty").attr('d', arc2);
//
    //}
//
//
    //var Needle = (function() {
//
    //    /**
    //    * Helper function that returns the `d` value
    //    * for moving the needle
    //    **/
    //    var recalcPointerPos = function(perc) {
    //    var centerX, centerY, leftX, leftY, rightX, rightY, thetaRad, topX, topY;
    //    thetaRad = percToRad(perc / 2);
    //    centerX = 0;
    //    centerY = 0;
    //    topX = centerX - this.len * Math.cos(thetaRad);
    //    topY = centerY - this.len * Math.sin(thetaRad);
    //    leftX = centerX - this.radius * Math.cos(thetaRad - Math.PI / 2);
    //    leftY = centerY - this.radius * Math.sin(thetaRad - Math.PI / 2);
    //    rightX = centerX - this.radius * Math.cos(thetaRad + Math.PI / 2);
    //    rightY = centerY - this.radius * Math.sin(thetaRad + Math.PI / 2);
    //    return "M " + leftX + " " + leftY + " L " + topX + " " + topY + " L " + rightX + " " + rightY;
    //    };
//
    //    function Needle(el) {
    //    this.el = el;
    //    this.len = width / 3;
    //    this.radius = this.len / 6;
    //    }
//
    //    Needle.prototype.render = function() {
    //    this.el.append('circle').attr('class', 'needle-center').attr('cx', 0).attr('cy', 0).attr('r', this.radius);
    //    return this.el.append('path').attr('class', 'needle').attr('d', recalcPointerPos.call(this, 0));
    //    };
//
    //    Needle.prototype.moveTo = function(perc) {
    //    var self,
    //        oldValue = this.perc || 0;
//
    //    this.perc = perc;
    //    self = this;
//
    //    // Reset pointer position
    //    this.el.transition().delay(100).ease('quad').duration(200).select('.needle').tween('reset-progress', function() {
    //        return function(percentOfPercent) {
    //        var progress = (1 - percentOfPercent) * oldValue;
//
    //        repaintGauge(progress);
    //        return d3.select(this).attr('d', recalcPointerPos.call(self, progress));
    //        };
    //    });
//
    //    this.el.transition().delay(300).ease('bounce').duration(1500).select('.needle').tween('progress', function() {
    //        return function(percentOfPercent) {
    //        var progress = percentOfPercent * perc;
//
    //        repaintGauge(progress);
    //        return d3.select(this).attr('d', recalcPointerPos.call(self, progress));
    //        };
    //    });
//
    //    };
//
    //    return Needle;
//
    //})();
//
    //needle = new Needle(chart);
    //needle.render();
//
    //needle.moveTo(percent);
//
    //})();

    </script>
    <script type="text/javascript">
        console.log("SET INTERVAL...")
        setInterval(function(){
            needle.moveTo(Math.random());
        }, 5000);
    </script>

{% endblock %}
