{% extends "bootstrap_layout.html" %}
{% set active_page = "topics" %}

{% block content %}

    <h1>Topics for Event: '{event_name}'</h1>

    <p>This is a paragraph text</p>

    <button>Add a new topic!</button>

    <table>
        <thead>
            <tr><th>Topic</th><th>Created At</th></tr>
        </thead>
        <tbody>
            <tr><td>TOPIC 1</td><td>TODO</td></tr>
            <tr><td>TOPIC 2</td><td>TODO</td></tr>
            <tr><td>TOPIC 3</td><td>TODO</td></tr>
        </tbody>
    </table>

{% endblock %}
