

/* source: https://gist.github.com/ameyms/9184728 */

.chart-gauge { width: 400px; margin: 100px auto}

.chart-filled {fill: steelblue;}
.chart-empty {fill: #dedede;}
/*
.chart-color1 {fill: steelblue}
.chart-color2 {fill: #ccc}
.chart-color3{fill: #D62021}
*/

.needle, .needle-center {fill: #464A4F;}

svg {font: 10px sans-serif;}
